allennlp==2.4.0
attrs==21.2.0
blis==0.7.4
boto3==1.17.82
botocore==1.20.82
cached-property==1.5.2
catalogue==2.0.4
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
configparser==5.0.2
contextvars==2.4
cymem==2.0.5
dataclasses==0.8
distlib==0.3.1
docker-pycreds==0.4.0
filelock==3.0.12
gitdb==4.0.7
GitPython==3.1.17
h5py==3.1.0
huggingface-hub==0.0.8
idna==2.10
immutables==0.15
importlib-metadata==4.3.0
importlib-resources==5.1.4
iniconfig==1.1.1
Jinja2==3.0.1
jmespath==0.10.0
joblib==1.0.1
jsonnet==0.17.0
lmdb==1.2.1
MarkupSafe==2.0.1
more-itertools==8.8.0
murmurhash==1.0.5
nltk==3.6.2
numpy==1.19.5
overrides==3.1.0
packaging==20.9
pandas==1.1.5
pathtools==0.1.2
pathy==0.5.2
Pillow==8.2.0
pluggy==0.13.1
preshed==3.0.5
promise==2.3
protobuf==3.17.1
psutil==5.8.0
py==1.10.0
pydantic==1.7.4
pyparsing==2.4.7
pytest==6.2.4
python-dateutil==2.8.1
pytz==2021.1
PyYAML==5.4.1
regex==2021.4.4
requests==2.25.1
s3transfer==0.4.2
sacremoses==0.0.45
scikit-learn==0.24.2
scipy==1.5.4
sentencepiece==0.1.95
sentry-sdk==1.1.0
shortuuid==1.0.1
six==1.16.0
smart-open==3.0.0
smmap==4.0.0
spacy==3.0.6
spacy-legacy==3.0.5
srsly==2.4.1
subprocess32==3.5.4
tensorboardX==2.2
thinc==8.0.3
threadpoolctl==2.1.0
tokenizers==0.10.3
toml==0.10.2
torch==1.8.1+cu111
torchaudio==0.8.1
torchvision==0.9.1+cu111
tqdm==4.61.0
transformers==4.5.1
typer==0.3.2
typing-extensions==3.10.0.0
urllib3==1.26.5
virtualenv==20.4.7
wandb==0.10.30
wasabi==0.8.2
zipp==3.4.1